@import "tailwindcss";

@layer base{
    h1{
        font-size: 30px;
        font-weight: bold;
        text-align: center;
    }
    h2{
        font-size: 24px;
        font-weight: bold;
        text-align: center;
    }
    h3{
        font-size: 18px;
        font-weight: bold;
    }
    button{
        border: 1px solid gray;
        border-radius: 6px;
        padding: 2px 10px;
        cursor: pointer;
    }
}
@layer components{}
@layer utilities{}